html, body {
	height: 100%;
	background-image: url('../Group 2 (1).png');
	background-attachment: fixed;
}

nav {
	background-color: #262F3D;
	
	position: fixed !important;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#img-placeholder {
	/* height: 25rem; */
	background-color: grey;
}
